{%load static%}
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light p-4">
    <img src="{% static 'img/messeger.png' %}" width="50" height="50" alt="" srcset="">
    <a class="navbar-brand" href="{%url 'chat:homepage'%}">Messager</a>
    <a class="navbar-brand" href="{%url 'client:logout'%}">Logout</a>
    
    <h5 class="text-dark h4">Messager content</h5>
    <span class="text-body-secondary">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> MENU
    </button>
    <small>{{ request.session.full_name }}<img src="{% static 'img/user.png' %}" width="50" height="50" alt="" srcset=""> </small> 
  </div>
</nav>