
{% if messages %}
<ul class="messages">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">
                {% for message in messages %}
                {{ message.tags }}
                {% endfor %}
            </strong>
            <small>now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{message}} </p>
            {% endfor %}
          </div>
        </div>
    </div>
</ul>
<script>
    const toastLiveExample = document.getElementById('liveToast')
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)    
    toastBootstrap.show()
</script>
{% endif %}